@media screen and (min-width: 100px) {
  .main {
    margin-top: 140px;
    margin-left: 70px;
    margin-right: 50px;
  }

  .main2 {
    margin-top: 0px;
    margin-left: 70px;
    margin-right: 50px;
  }

  .main2 {
    margin-top: 100px;
    margin-left: 70px;
    margin-right: 50px;
  }

  .main3 {
    margin-top: 140px;
    margin-left: 70px;
    margin-right: 50px;
    margin-bottom: 120px;
  }

  .hairCutDiv {
    border-bottom: 2px solid rgb(212, 212, 212);
  }

  .hairCutDiv h4 {
    font-size: 15px;
    font-family: "Courier New", Courier, monospace;
    margin-bottom: 10px;
  }

  .ourDiv3 {
    margin-bottom: 6em;
  }

  .ourDiv3 p {
    padding-right: 20px;
    color: rgb(193, 193, 193);
  }

  .ourDiv p {
    padding-right: 20px;
    color: rgb(193, 193, 193);
  }

  .ourDiv2 {
    padding-right: 20px;
    color: rgb(193, 193, 193);
    margin-top: 5em;
    margin-bottom: 8em;
  }

  .blowDIv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: -20px 0px -30px 0px;
  }

  .blowDIv h5 {
    margin-top: 40px;
  }

  .blowDIv2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 40px 0px -30px 0px;
  }

  .blowDIv3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 0px -30px 0px;
  }

  .blowDIv h5 {
    font-size: 14px;
    color: rgb(57, 56, 56);
  }

  .dollarDiv {
    display: flex;
    align-items: center;
  }

  .dollarDiv img {
    width: 13px;
    height: 12px;
  }

  .dollarDiv p {
    columns: red;
  }

  .imageDiv {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1px;
    margin-bottom: -110px;
  }

  .img1 {
    margin-bottom: -5.5px;
  }

  .img2 {
    margin-top: -2.5px;
  }

  .imageDiv2 {
    display: flex;
    column-gap: 1px;
    margin-bottom: -110px;
  }

  .imageDivImg1 {
    width: 100%;
  }

  .imageDivImg2 {
    width: 100%;
  }

  .imageDivImg3 {
    width: 100%;
    margin-top: -5px;
  }

  .imageDivImg4 {
    width: 100%;
    margin-top: -5px;
  }

  .imageDivImg1 img {
    width: 100%;
    object-fit: cover;
    border-right: 1px solid black;
  }

  .imageDivImg2 img {
    width: 100%;
    object-fit: cover;
  }

  .imageDivImg3 img {
    width: 100%;
    object-fit: cover;
    border-right: 1px solid black;

    border-top: 1px solid black;
  }

  .imageDivImg4 img {
    border-top: 1px solid black;
    width: 100%;
    object-fit: cover;
  }

  .span {
    font-weight: bold;
  }
}
