@media screen and (min-width: 100px) {
  .main {
    margin-bottom: 130px;
  }

  .imgDiv {
    position: relative;
    background-color: rgb(30, 30, 30);
  }

  .paraDiv {
    position: absolute;
    width: 60%;
    background-color: rgb(30, 30, 30);
    color: white;
    z-index: 3;
  }

  .para1 {
    font-size: 18px;
    padding-left: 40px;
    padding-top: 60px;
    padding-right: 40px;
    margin-bottom: -5px;
    width: 60%;
  }

  .para2 {
    font-size: 10px;
    padding-left: 40px;
    padding-top: 60px;
    padding-right: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    width: 60%;
  }

  .img {
    object-fit: cover;
    height: 100%;
    width: 40%;
  }

  .image {
    display: flex;
    height: 1010px;
    width: 100%;
    justify-content: right;
    opacity: 0.7;
  }
}

@media screen and (min-width: 300px) {
  .main {
    margin-bottom: 130px;
  }

  .paraDiv {
    position: absolute;
    width: 60%;
    height: 1900px;
    background-color: rgb(30, 30, 30);
    color: white;
    z-index: 3;
  }

  .para1 {
    font-size: 28px;
    padding-left: 40px;
    padding-top: 60px;
    padding-right: 40px;
    margin-bottom: -5px;
    width: 60%;
  }

  .para2 {
    font-size: 16px;
    padding-left: 40px;
    padding-top: 60px;
    padding-right: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    width: 60%;
  }

  .img {
    object-fit: cover;
    height: 1900px;
    width: 40%;
  }

  .image {
    display: flex;
    height: 1900px;
    width: 100%;
    justify-content: right;
    opacity: 0.7;
  }
}

@media screen and (min-width: 400px) {
  .paraDiv {
    position: absolute;
    width: 60%;
    height: 1500px;
    background-color: rgb(30, 30, 30);
    color: white;
    z-index: 3;
  }

  .para2 {
    font-size: 16px;
    padding-left: 40px;
    padding-top: 60px;
    padding-right: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    width: 60%;
  }

  .img {
    object-fit: cover;
    height: 1500px;
    width: 40%;
  }

  .image {
    display: flex;
    height: 1500px;
    width: 100%;
    justify-content: right;
    opacity: 0.7;
  }
}
